html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
    font-size: larger;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }
}

.content {
    transition: margin-left 0.5s; 
    width: 100%; 
    text-align: center; 
}

.container {
    max-width: 1000px;
    width: 100%; 
    text-align: center;
}


@media (max-width: 768px) {
    header + .content {
        padding-top: 60px; 
    }
}
